<% provide(:title, "View Videos") %>
<div class="row">
<%= render 'profiles/profile_section' %>
<div id="video_list" class="col-md-10">
<%= render 'profiles/video_list' unless @videos.nil? %>
</div>
</div>