<% provide(:title, 'Help') %>
<div id="help-page">
<h1><%= app_name %></h1>
<h2>Overview</h2>
<p><%= app_name %> allows a parent to preview YouTube videos before allowing their children to view them.  Each child can have their own profile, though each profile is viewable by any child.  A parent chooses a profile to which they want to add a video.  The parent can preview it and then either approve it for viewing by their child or delete it.  A parent can also manage videos previously approved to delete them or put them up for review again.</p>
<h3>Adding a Profile</h3>
<p>Before you can begin adding video links you need to create at least one profile</p>
<ol>
	<li>From the Home Page press the button labeled 'Parent Mode'.</li>
	<li>Enter your PIN or password if you forgot your PIN. Press 'Submit'</li>
	<li>On the next page, under 'Add Profile', type in the name for your profile.  It must be unique</li>
	<li>Press the button labeled 'Submit' to create the profile.  A button wth the profile name should appear.</li>
</ol>
<h3>Adding videos for review</h3>
<p>If you have one or more profiles you are ready to begin adding videos for review.  Note: This site does not store YouTube videos, only a link to it and its thumbnail</p>
<ol>
	<li>From the Home Page press the button labeled 'Parent Mode'.</li>
	<li>Enter your PIN or password if you forgot your PIN. Press 'Submit'</li>
	<li>On the next page press the button for the profile to which you desire to add a video</li>
	<li>Enter the YouTube URL or ID of the video you wish to add. Usually this will be done by pasting a link you've copied from Youtube</li>
	<li>If you wish to enter tags for this video then enter a comma-seperated list of words and/or phrases.  Once you start entering tags, the video will be loaded in the player so you can have a visual reminder of what you are adding tags for</li>
	<li>If you decide not to add this video you can press the button labeled 'Reset'</li>
	<li>To add the video for review press the button labeled 'Submit'</li>
	<li>The thumbnail for the video will appear in a list of videos waiting to be reviewed.</li>
</ol>
<h3>Reviewing Videos</h3>
<p>Once you have added some videos to a profile you are now ready to review them</p>
<ol>
	<li>From the Home Page press the button labeled 'Parent Mode'.</li>
	<li>Enter your PIN or password if you forgot your PIN. Press 'Submit'.</li>
	<li>On the next page press the button for the profile to which you desire to review videos.</li>
	<li>A grid of thumbnails will appear of any videos you have added for review.</li>
	<li>You can see the title of the video by hovering your mouse pointer over the video.</li>
	<li>To load a video in the player for review click on the thumbnail.</li>
	<li>If you decide the video is acceptable for your child press the button labeled 'Approve'.  It will be available for your child to view.</li>
	<li>If you decide the video is unacceptable for your child press the button labeled 'Delete'.  It will no longer be available for review</li>
</ol>
<h3>Managing Videos</h3>
<p>You may inadvertently approve a video.  Your child may be upset by a certain video.  A video may become unavailable on YouTube.  Whatever the situation you can delete a previously approved video</p>
<ol>
	<li>From the Home Page press the button labeled 'Parent Mode'.</li>
	<li>Enter your PIN or password if you forgot your PIN. Press 'Submit'.</li>
	<li>On the next page press the button labeled 'Manage Videos.'</li>
	<li>Press the button for the profile for which to manage videos.  Any approved videos for this profile will be displayed.</li>
	<li>To delete a video press the button labeled 'Delete' next to the thumbnail you wish to delete.  That video will no longer be available.</li>
	<li>You can also make it available for review again by pressing the button labeled 'Review'.  It will now be available for review.</li>
	<li>To return to reviewing videos, press the button labeled 'Review Videos'.</li>
</ol>
<h3>Application and Profile Settings</h3>
<p>There are no application level settings at this time.  There are some profile level settings</p>
<h4>Allow Controls</h4>
<p>This setting allows the user of this profile to have access to the video controls such as slider, closed captioning, play back speed, etc. The default setting is 'No', but it can be set to 'Yes`'</p>
<h4>Video cc</h4>
<p>This setting allows the user of this profile to see closed captioning, if available, for every video they view by default. The default setting is 'Off', but can be set to 'Yes'</p>
<ol>
	<li>From the Home Page press the button labeled 'Parent Mode'.</li>
	<li>Enter your PIN or password if you forgot your PIN. Press 'Submit'.</li>
	<li>From the Account Menu select 'Application Settings'</li>
	<li>Change the settings as you desire</li>
	<li>Press the button labeled 'Submit'</li>
	<li>By pressing the button labeled 'Parent Page' you will return to reviewing videos.</li>
</ol>
<h3>Exiting Parent Mode</h3>
<p>If you are using the same device as your child you will want to exit parent mode.</p>
<ol>
	<li>You can exit parent mode by pressing the button labeled 'Exit Parent Mode'.</li>
	<li>Clicking 'Home' will exit parent mode.</li>
	<li>Cicking 'Help' or 'FAQ' opens a new tab so you can maintain parent mode, without forgetting you are in parent mode. However, clicking 'Home' in the 'Help' or 'FAQ' page will cause you to exit parent mode.  If you have a tab open in parent mode, clicking a parent action will bring you back to the home page.</li>
</ol>
<h3>Viewing Videos</h3>
<p>You've followed the steps above and now your child can view some videos</p>
<ol>
	<li>On the Home page your child can press the button labeled with his profile name.</li>
	<li>A grid of videos that have been approved will appear.</li>
	<li>Your child can click on a thumbnail to load it in the player.</li>
	<li>To play a video your child only need click within the player to start it playing.</li>
	<li>Clicking in the player while a video is playing will cause it to pause.</li>
	<li>Clicking in the player while a video is paused will cause it to play.</li>
	<li>Clicking any embedded links in the video will not take your child to any websites.  That functionality is disabled.</li>
	<li>Ads will still be displayed as YouTube does not allow them to be turned off. But clicking them will not go to their sites.</li>
	<li>No related videos will be shown once the video is done playing.  That feature is disabled.</li>
</ol>
<h4>Searching for videos by tag</h4>
<p>You can search for videos by tag whether viewing, reviewing or managing videos</p>
<ol>
	<li>Select a profile to load its videos, if any.</li>
	<li>In the box labeled 'Tag' enter the tag you are searching for and press 'Search'.</li>
	<li>Any videos matching that tag will be displayed.</li>
	<li>Pressing 'Clear Search' will display all the videos for the selected profile according to the mode: viewing, reviewing or managing.</li>
	<li>You can type only part of the tag you are searching for and a list of all tags containing those letters will be displayed for you to choose from.</li>
</ol>
<h4>Changing email, password, or PIN</h4>
<p>You get a new email, you regularly change your passwords, you forgot your PIN.</p>
<ol>
	<li>From the Home Page press the button labeled 'Parent Mode'.</li>
	<li>Enter your PIN or password if you forgot your PIN. Press 'Submit'.</li>
	<li>From the Account Menu select 'Account Details'</li>
	<li>Make your changes</li>
	<li>You must enter your current password before pressing the button labeled 'Update'.</li>
</ol>
<h4>Canceling my account</h4>
<p>This site may not be right for you.  No worries, you can delete your account.</p>
<ol>
	<li>From the Home Page press the button labeled 'Parent Mode'.</li>
	<li>Enter your PIN or password if you forgot your PIN. Press 'Submit'.</li>
	<li>From the account menu select 'Cancel Account'</li>
	<li>You will be asked if you are sure.  Press 'OK" to proceed, 'Cancel' to keep your account</li>
	<li>All your data will be deleted and cannot be recovered.</li>
</ol>
