<% provide(:title, 'Parent Frequently Asked Questions') %>
<p class="help-question">The YouTube Player will not load YouTube videos</p><p class="help-answer">If you have set up your browser to only allow visiting specific websites you will have to allow www.youtube.com. Note: Your child will not be able to click out of the video player to any other website, including YouTube&trade;.</p>
<p>The only browser extension that I have found so far that would not permit www.youtube.com to be visited, but allow the video player to play YouTube&trade; is Whitelist for Chrome. Whitelist allows you to spacify which websites are permitted to be visited, but allow any website to load resources from websites not on the whitelist. This is not an endorsement of this extension, but rather the sort of features you might look for in an extension.</p>
<p>On the iPad and iPhone, at least the ones I have, I was able to add www.youtube.com as a permitted site in the restrictions setting, but I left the title blank and it does not appear as list of places to visit in the browser.  You may try that and see if it works.</p>

