<% provide(:title, "Add Video") %>
<div clas="row">
<%= render 'profiles/profile_section' %>
<%= render 'videos/create' %>
<div id="video_list" class="col-md-8">
<%= render 'profiles/video_list' unless @videos.nil? %>
</div>
</div>