<% provide(:title, "Add Video") %>
<div clas="row">
<%= render 'profiles/profile_section' %>
<%= render 'videos/create' %>
<%= render 'profiles/video_list', :div_class => "col-md-8" unless @videos.nil? %>
</div>