<h1>Privacy Policy</h1>

<h2>Who we are</h2>

<p>Our website address is: https://family-u-tube.herokuapp.com</p>

<h2>What personal data we collect and why we collect it</h2>

<p>We collect your email at registration to uniquely identify your account.</p>

<p>We run our application on Heroku.  They keep logs of your access; Date, Time, IP Address, User Agent (Browser, robot, or other application which makes requests to the server), resource requested (webpage, image, file, or other resouce). These logs are kept for one week after which they are irretreivable. <a href="https://www.salesforce.com/company/privacy/" target="_blank">Heroku Privacy</a> (Heroku is a SalesForce company).</p>

<h2>Cookies</h2>

<p>We only use cookies to track the state of the application, including if you opt to use Remember Me.  These are necessary and essential so they are exempt from consent.</p>

<h2>Embedded content from other websites</h2>

<p>This site embeds YouTube videos.   Youtube may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website. <a href="https://policies.google.com/privacy?hl=en" target="_blank">Google Privacy</a></p>

<h2>How long we retain your data</h2>

<p>Your account is kept until you delete it or it is inactive for 1 year.</p>

<h2>What rights you have over your data</h2>

<p>If you have an account on this site you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>

<h2>Contact information</h2>

<p>You can contact our <a href="mailto:vastdawnsoftware@gmail.com">Webmaster</a> with any privacy requests.</p>

<h2>How we protect your data</h2>

<p>We use Heroku, a reputable company that takes all efforts to maintain security over data on their site.</p>

<p>We use Amaazon AWS to store the thumbnail images of the videos you add to this site.  Amazon is a reputable company that takes great pains to secure its data. These images are traceable back to your email only if both our Amaazon account and Heroku account are breached. <a href="https://aws.amazon.com/privacy/" target="_blank">Amazon AWS Privacy</a></p>

<p>This site uses HTTPS, a secure way of accessing websites because it encrypts data sent to this website by you so attackers cannot see it.  This is indicated by the lock icon next to the address bar.  In addition we use HTTP Strict Transport Security which forces your browser to access our site via HTTPS.  Only your initial request to load our site is via HTTP; even then you are immediately redirected so that you are using HTTPS to view our site; every subsequent visit to our site is solely via HTTPS.</p>

<h2>What data breach procedures we have in place</h2>

<p>We will contact Heroku to determine how the breach occured and then notify all effected parties with the nature of the breach and what we will do to resolve it.</p>
