<% if @profiles.count == 0 %>
    <%= "No Profiles" %>
<% else %>
    <p>Current profile: </p><p id="curr_profile"><%= current_profile_name %></p>
    <% if !parent_mode? %>
        <%= link_to 'Add Video', new_parentmode_session_path, class: 'btn btn-primary' %>
    <% end %>
    <p>Profiles:</p>
        <div id="profiles" class="btn-group-vertical">
        <% @profiles.each do |p| %>
            <%= button_to "#{p.name}", profiles_sessions_path(name: p.name), method: :post, class: 'btn', remote: true %>
        <% end %>
        </div>
<% end %>