<div id="profile_form">
  <p>Add a Profile</p>
  <%= form_for(:profiles, url: profiles_path) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: "", autofocus: true, class: 'form-control' %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>
