<div id="profile-form">
  <p><strong>Add a Profile:</strong></p>
  <%= form_for(:profiles, url: profiles_path, remote: true) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: "", autofocus: true, class: 'form-control' %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>
