<div class="info"><p>Video Player (Click on a thumnail to the right to load a video in the player</p></div>
<%= content_tag(:iframe, '', width: 560, height: 315, src: curr_vid_url, sandbox: "allow-scripts allow-same-origin") %>