@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  height: 45px;
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.8em;
  font-weight: normal;
}

h3 {
  font-size: 2.6em;
  font-weight: normal;
}

h4 {
  font-size: 2.4em;
  font-weight: normal;
}

h5 {
  font-size: 2.2em;
  font-weight: normal;
}

h6 {
  font-size: 2em;
  font-weight: normal;
}

p, li {
  font-size: 1.5em;
}

/* Miscellaneous */

@mixin box_sizing {
  -moz-box-string: border-box;
  -webkit-box-sizing: border-box;
  box_sizing: border-box;
}

.info {
  font-size: 16px;
}

.info p {
  font-weight: bold;
}

/* Boostrap adjustments */

/* TODO: remove ths when boostrap gem is for boostrarp 4+ */
.col-form-label-lg {
  font-size: 16px
}

.btn-group-vertical .button_to, .mng-button {
    margin-bottom:3px;
}


/* Adjustments for Devise */

#app_notices {
  padding-top: 10px;
}

/* jquery autocomplete */
ul.ui-autocomplete {
    list-style: none;
}

/* For ARIA support, so screen readers still see autocomplete message */
.ui-helper-hidden-accessible { position: absolute; left:-999em; }



/* Header */
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
   }

  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

/* Help */
h2.help-section {
  font-weight: bold;
}

p.help-question {
  font-weight: bold;
}

/* Profiles */

#btn-prnt-mode {
  text-decoration: none;
}

#curr-profile-wrapper p {
  margin: 2px;
  padding: 0;
  display: inline-block;
}

#profiles-list-wrapper {
  margin-top: 10px;
}

#profile-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Videos */

#add-vid-reset {
  margin-right: 3px;
}

#mng-wrapper {
  float: left;
  border: 0px;
  margin-bottom: 2px;
}

#vidframe, #mngbuttons {
  float: left;
  height: 92px;
  padding: 1px;
}

#mng-aprve-del-btn {
  margin-bottom: 11px;
}

a#mng-del-btn:link {
  text-decoration: none;
}

/* Insure div floats below images */
#video-paginate {
  width: 1100px;
  float: left;
}

/* Make links work on mobile */
.vid-thumbnail {
  cursor: pointer;
}

/* search form */

#search-form-wrapper {
  width: auto;
  height: 50px;
}

#search-label, #tags_name, #search-submit, #clear-submit {
 margin: 1px;  
 float: left;
} 

#tags_name {
  width: 200px;
  display: inline;
  vertical-align: bottom;
}

#search-submit {
  width: 75px;
}

#clear-submit {
  width: 100px;
}


