@import "bootstrap-sprockets";
@import "bootstrap";

/* Miscellaneous */

@mixin box_sizing {
  -moz-box-string: border-box;
  -webkit-box-sizing: border-box;
  box_sizing: border-box;
}

.info {
  width: auto;
}

.info p {
  font-weight: bold;
}

/* Boostrap adjustments */
.btn-group-vertical .button_to, .mng-button {
    margin-bottom:3px;
}

/* Adjustments for Devise */

#app_notices {
  padding-top: 10px;
}

/* jquery autocomplete */
ul.ui-autocomplete {
    list-style: none;
}

/* For ARIA support, so screen readers still see autocomplete message */
.ui-helper-hidden-accessible { position: absolute; left:-999em; }

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
 /* Profiles */

#curr-profile-wrapper p {
  margin: 2px;
  padding: 0;
  display: inline-block;
}

#profiles-list-wrapper {
  margin-top: 10px;
}

#profile-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Videos */

.vidframe, .mngbuttons {
  float: left;
  height: 92px;
  padding: 1px;
}

/* search form */

#search-form-wrapper {
  width: auto;
  height: 40px;
}

#search-label, #tags_name, #search-submit, #clear-submit {
 margin: 1px;  
 float: left;
} 

#tags_name {
  width: 200px;
  display: inline;
  vertical-align: bottom;
}

#search-submit {
  width: 75px;
}

#clear-submit {
  width: 100px;
}


